div#timer {
display: flex; 
flex-direction: column;
align-items: center;
justify-content: center;

} 
div.wrapper{
display: flex; 
flex-direction: column;
align-items: center;
justify-content: center;

}


button#starttimer {
background: green;
color:white;
}

p#timer-display{

text-size: 70px;
}

span#seconds {
text-size: 70px;
} 

.progress-bar {
  width: 60px;
  height: 30px;
 background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: black;
}
